[global_config]
  title_transmit_fg_color = "#e5ebff"
  title_transmit_bg_color = "#171921"
  title_inactive_fg_color = "#e5ebff"
  title_inactive_bg_color = "#3a434d"

[profiles]
  [[default]]
    palette = "#171921:#ff4766:#00f58b:#ffdb66:#3d5aff:#618bff:#8ad0ff:#e5ebff:#3a434d:#ff7a91:#ffe799:#75ffc3:#7086ff:#94b0ff:#bde4ff:#ffffff"
    foreground_color = "#e5ebff"
    background_color = "#0f0e1f"
    cursor_color = "#e5ebff"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
