background=--background0--
foreground=--white--
cursor=--white--

color0=--black--
color1=--red--
color2=--green--
color3=--yellow--
color4=--blue--
color5=--magenta--
color6=--cyan--
color7=--white--
color8=--hi_black--
color9=--hi_red--
color10=--hi_yellow--
color11=--hi_green--
color12=--hi_blue--
color13=--hi_magenta--
color14=--hi_cyan--
color15=--hi_white--
