background=#0f0e1f
foreground=#e5ebff
cursor=#e5ebff

color0=#171921
color1=#ff4766
color2=#00f58b
color3=#ffdb66
color4=#3d5aff
color5=#618bff
color6=#8ad0ff
color7=#e5ebff
color8=#3a434d
color9=#ff7a91
color10=#ffe799
color11=#75ffc3
color12=#7086ff
color13=#94b0ff
color14=#bde4ff
color15=#ffffff
